In [ ]:
Name:Farhan Samir Ibushe Roll no:3063

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r"C:\Users\farha\OneDrive\ML\Social_Network_Ads.csv")
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
X=df[['Age','EstimatedSalary']]
y=df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [10]:
# without Scaling
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.85

In [11]:
# with Scaling
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)
x_train_scaled=scaler.transform(x_train)

from sklearn.linear_model import LogisticRegression

model1=LogisticRegression()
model1.fit(x_train_scaled,y_train)
x_test_scaled=scaler.transform(x_test)
model1.score(x_test_scaled,y_test)